<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" >
    <link rel="stylesheet" href="../css/mystyle.css" >
    <script src="../login.js"></script>
</head>
<body>
    <img src=""/>
   <form method ='POST' action ="/doLogin" on submit="return check()">
    Name <input type="text" name="txtName" id="txtName" class="redText">
    <br>
    Email <input type="text" name="txtEmail" >
    <input type="submit" onclick="check()" value ="Login">
    </form>
</body>
</html>