<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>All Customers</h1>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Address</td>
        </tr>
        {{#each customers}}
            <tr>
                <td><a href="/customer/delete?id={{_id}}">Delete</a></Td>
                <td>{{name}} and {{address}}</td>
            </tr>
        {{/each}}
    </table>
    
</body>
</html>